<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex,nofollow" />
    <title>Home - Snowflake DB</title>
    <style>
        body{padding:0 16px;font-size:18px;font-family:arial,sans-serif}
        .status-icon{color:#1ecc6c;font-size:30px;position:relative;bottom:-4px}
        .button{font-size:16px;font-family:arial,sans-serif;text-decoration:none;background:#2e2e2e;color:#fff;padding:10px 16px;margin:5px;border:2px solid #2e2e2e;}
        .button.outline{background:transparent;color:#2e2e2e}
    </style>
</head>
<body>
    <p style=""><span class="status-icon">✓</span> Snowflake webserver is functioning normally</p>
    <a href="/gui" class="button">Open GUI</a>
    <a href="https://amatris.com" target="_blank" class="button outline">Amatris</a>
</body>
</html>